html {
  background-color: beige;
}
.menu {
  width: 100%;
  border: 1px solid #000000;
  background-color: rgb(228, 143, 180);
}

.menu td {
  padding: 15px;
  border: 1px solid #000000;
}

.dropdown {
  position: relative;
  border: 1px solid #000000;

}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  border: 1px solid #000000;
  top: 50px;
  width: 406px;
  
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #24011f;
  background-color: rgb(215, 228, 190);
  border-bottom: 1px solid #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  top: 50%;
  width: 150px;

  left: 100%;
  border: 1px solid #000000;
  
}

.dropdown-content:hover .sub-dropdown-content {
  display: block;
}