body, .card-container{
  margin: 0;
  padding: 0;
  background-color: #E0E0E0
  
  
}

.card-container {
  text-align: center;
  image-rendering: auto;
  

}

.card {
  border: 1px solid #070515;
  padding: 25px;
  text-align: center;
  width: 25%;
  background-color: #C4C4C4;
  margin: 20px;
  padding: 0 25px 25px 0;
  overflow: hidden;
  display: inline-block;
  height: 226px; 
  width: 200px;
  margin-bottom: 10px;
  vertical-align: middle;

 }

 .card:hover {
  box-shadow: 3px 4px 7px 8px #cfcece;
  
 }

.card img {
  max-width: 100%;
  display: block;
  width: 130px;
  height: 130px;
  background-color: #E0E0E0;
  margin-left: 50px;
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  color: #000001;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 35px;

h3 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  margin-left: 55px;
}
